:root {
  --dark: #000;
  --light: #fff;
  --russ-daughters: #8ECFD5;
  --russ-daughters-secondary: #D1A45B;
}

@media (prefers-color-scheme: dark) {
  :root {
    --russ-daughters: #8ECFD5;
    --russ-daughters-secondary: #D1A45B;
  }
}

@font-face {
  font-family: "Inconsolata-regular";
  src: url("../fonts/Inconsolata-Regular.ttf");
}

@font-face {
  font-family: "Inconsolata-black";
  src: url("../fonts/Inconsolata-Bold.ttf");
}

#body:target {
 
    --russ-daughters: #5BD182;
    --russ-daughters-secondary: #FF4141;

    background-image: radial-gradient(
    #008A05, #004703 120%
  );

}

#html:target {
  --russ-daughters: #8ECFD5;
  --russ-daughters-secondary: #D1A45B;
}

* {
  box-sizing: border-box;
}

/* //////// */
  /* CONSOLE */
/* //////// */
body {
  margin: 0;
  padding: 3%;
  box-sizing: border-box;
  overflow-x: hidden;
  background-image: radial-gradient(
    #161616, var(--dark) 120%
  );
  color: var(--russ-daughters);
  font-family: 'Inconsolata-regular', serif;
  text-shadow: 0 0 5px var(--russ-daughters);
  animation: blurScreen 30s infinite;
  animation-delay: 3s, 19s;
}

body::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: repeating-linear-gradient(
    0deg,
    rgba(0,0,0,.15), rgba(0,0,0,.15),
    transparent 1px, transparent 2px
  );
  pointer-events: none;
  animation: flickerScreen 45s infinite,
             reboot 4s forwards;
  animation-delay: 0s, 21s;
}

::selection {
  background: var(--russ-daughters);
  text-shadow: none;
}

main {
  opacity: 1;
  animation: flickerContent steps(10) 4s forwards;
  animation-delay: 20s;
}

/* //////// */
  /* START */
/* //////// */

[trigger="start"] {
  opacity: 0;
  max-width: 0;
}

[trigger="start"] + div {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  font-size: 2.5rem;
}

[trigger="start"] + div label {
  position: absolute;
  text-align: center;
  width: 100%;
}

[trigger="start"] + div > label:nth-child(1) {
  color: var(--russ-daughters);
  animation: glitchy-1 3s infinite;
}

[trigger="start"] + div > label:nth-child(2) {
  color: var(--russ-daughters-secondary);
  animation: glitchy-2 3s infinite;
}

[trigger="start"] + div > label:nth-child(3) {
  color: var(--light);
  animation: glitchy-3 3s infinite;
}

[trigger="start"] + div span {
  animation: blink 1s infinite;
}

/* hide start label */
[trigger="start"]:valid + div {
  display: none;
}

/* show food-service */
[trigger="start"]:valid ~ [theme] {
  display: block;
}

a[theme] {
  display: none;
}

#body:target [theme], #html:target [theme] {
  display: none;
}

#body:target [food-service], #html:target [food-service] {
  display: block;
}

[food-service] {
  display: none;
}

[theme] {
  display: block;
  padding: 3%;
  font-size: 8rem;
  line-height: 8rem;
  color: var(--russ-daughters);
  border: 1px solid var(--russ-daughters-secondary);
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  transition: background .2s;
}

[theme]:hover {
  background-color: var(--light);
}

@keyframes blink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

@keyframes glitchy-1 {
  0%, 10%, 25%, 35%, 50%, 52%, 55%, 70%, 80%, 100% {
    transform: translate(-50%, -50%);
    opacity: 1;
  }
  7% {
    transform: translate(-50%, -50%) skew(-0.5deg, -0.9deg);
    opacity: 0.75;
  }
  30% {
    transform: translate(-50%, -50%) skew(0.8deg, -0.1deg);
    opacity: 0.75;
  }
  55% {
    transform: translate(-50%, -50%) skew(-1deg, 0.2deg);
    opacity: 0.75;
  }
  75% {
    transform: translate(-50%, -50%) skew(0.4deg, 1deg);
    opacity: 0.75;
  }
}

@keyframes glitchy-1 {
  0%, 10%, 25%, 35%, 50%, 52%, 55%, 70%, 80%, 100% {
    transform: translate(-50%, -50%);
    opacity: 1;
  }
  7% {
    transform: translate(-50%, -50%) skew(-0.5deg, -0.9deg);
    opacity: 0.75;
  }
  30% {
    transform: translate(-50%, -50%) skew(0.8deg, -0.1deg);
    opacity: 0.75;
  }
  55% {
    transform: translate(-50%, -50%) skew(-1deg, 0.2deg);
    opacity: 0.75;
  }
  75% {
    transform: translate(-50%, -50%) skew(0.4deg, 1deg);
    opacity: 0.75;
  }
}

@keyframes glitchy-2 {
  0%, 10%, 25%, 35%, 50%, 52%, 55%, 70%, 80%, 100% {
    transform: translate(-50%, -50%);
    opacity: 1;
  }
  7% {
    transform: translate(-49%, -49%);
    opacity: 0.75;
  }
  30% {
    transform: translate(-49/5%, -48%);
    opacity: 0.75;
  }
  55% {
    transform: translate(-48%, -49%);
    opacity: 0.75;
  }
  75% {
    transform: translate(-49.5%, -49%);
    opacity: 0.75;
  }
}

@keyframes glitchy-3 {
  0%, 10%, 25%, 35%, 50%, 52%, 55%, 70%, 80%, 100% {
    transform: translate(-50%, -50%);
    opacity: 1;
  }
  7% {
    transform: translate(-51%, -51%);
    opacity: 0.75;
  }
  30% {
    transform: translate(-51%, -52%);
    opacity: 0.75;
  }
  55% {
    transform: translate(-51%, -50.5%);
    opacity: 0.75;
  }
  75% {
    transform: translate(-50.5%, -51%);
    opacity: 0.75;
  }
}

/* //////// */
  /* food-service */
/* //////// */
main > section header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 1rem;
  max-width: 20rem;
  opacity: 0;
  text-align: center;
  border: 1px solid var(--russ-daughters-secondary);
  border-radius: 3px;
  animation: flickerShadow 10s infinite,
             makeVisible .1s forwards;
  animation-delay: 14s;
}

main > section header h1, section:first-of-type header p {
  margin: .5rem 0;
}

main > section article > span, section:first-of-type article p span {
  display: block;
  height: 1rem;
  overflow-x: hidden;
  white-space: nowrap;
  visibility: hidden;
  animation: typeInTerminal 6s steps(60) forwards;
}

main > section article > span {
  text-shadow: 0 0 5px var(--russ-daughters-secondary);
  color: var(--russ-daughters-secondary);
  animation-delay: 1s;
}

main > section article p {
  position: relative;
}

main > section article p:first-of-type span:nth-child(1) {
  animation-delay: 3s;
}

main > section article p:first-of-type span:nth-child(2) {
  animation-delay: 5s;
}

main > section article p:first-of-type span:nth-child(3) {
  animation-delay: 7s;
}

main > section article p:first-of-type span:nth-child(4) {
  animation-delay: 11s;
}

main > section article p:last-of-type span:nth-child(1) {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  position: relative;
  animation-delay: 16s;
}

main > section article p:last-of-type span:nth-child(1)::after {
  content: '';
  display: inline-block;
  position: absolute;
  width: 0;
  height: 1rem;
  left: 8rem;
  background-color: var(--russ-daughters);
  animation: progressBar steps(45) 5s forwards;
}

main > section article p:last-of-type span:nth-child(2) {
  animation-delay: 19s;
}

@keyframes blurScreen {
  0%, 99% { filter: blur(3px) }
  1%, 98%, 100% { filter: blur(0px) }
}

@keyframes typeInTerminal {
  from { width: 0 }
  to {
    visibility: visible;
    width: 100%;
  }
}

@keyframes progressBar {
  from { width: 0 }
  to { width: 14rem }
}

@keyframes makeVisible {
  from { opacity: 0 }
  to { opacity: 1 }
}

@keyframes rotate3D {
  0%, 100% {
    transform: rotate3d(0, 1, 0, 0deg);
  }
  50% {
    transform: rotate3d(0, 1, 0, 180deg);
  }
}

@keyframes flickerShadow {
  0%, 99% { text-shadow: 0 0 5px var(--russ-daughters) }
  1%, 98%, 100% { text-shadow: 0 0 15px var(--russ-daughters) }
}

@keyframes flickerScreen {
  0%, 99.9% {
    background: var(--dark)
  }
  1%, 99.8%, 100% {
    background: repeating-linear-gradient(
      0deg,
      rgba(0,0,0,.15), rgba(0,0,0,.15),
      transparent 1px, transparent 2px
    );
  }
}

@keyframes reboot {
  0%, 98% {
    background: repeating-linear-gradient(
      0deg,
      rgba(0,0,0,.15), rgba(0,0,0,.15),
      transparent 1px, transparent 2px
    );
  }
  1%, 97%, 99% {
    background: var(--dark);
  }
  100% {
    perspective: 0;
    background: repeating-linear-gradient(
      0deg,
      rgba(0,0,0,.15), rgba(0,0,0,.15),
      transparent 1px, transparent 2px
    );
  }
}

@keyframes flickerContent {
  0%, 100% { opacity: 1 }
  1%, 66% {
    padding: 3rem;
    opacity: 0;
  }
  33%, 99% {
    padding: 6rem;
    opacity: 0;
  }
}

/* //////// */
  /* MENU */
/* //////// */
[food-service] > div:first-of-type {
  display: flex;
  flex-wrap: wrap;
  visibility: hidden;
  max-height: 0;
  overflow-y: hidden;
  animation: triggerSequence 1s forwards;
  animation-delay: 24s;
}

[food-service] > div section input[type='radio'] {
  display: none;
}

[food-service] > div section input[type='radio']:checked + label {
  background-color: var(--russ-daughters-secondary);
  color: var(--dark);
}

[food-service] > div section label {
  display: block;
  width: 10rem;
  height: 6rem;
  text-align: center;
  border: 1px solid var(--russ-daughters-secondary);
  border-radius: 3px;
  cursor: pointer;
}

[food-service] > section > label > div {
  display: none;
}

@keyframes triggerSequence {
  from {
    visibility: hidden;
    max-height: 0
  }
  to {
    visibility: visible;
    max-height: unset;
  }
}